<div class="container my-5">
    <h1 class="my-3">Creaate New Candidate</h1>
    <form #form="ngForm" (ngSubmit)="addCandidate()">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name"
            name="name" [(ngModel)]="addCandidateDetails.name">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email"
            name="email" [(ngModel)]="addCandidateDetails.email">
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Phone No</label>
            <input type="number" class="form-control" id="phone" max="10"
            name="phone" [(ngModel)]="addCandidateDetails.phone">
        </div>
        <div class="mb-3">
            <label for="sex" class="form-label">Sex</label>
            <select class="form-control" id="sex" name="sex" [(ngModel)]="addCandidateDetails.sex">
                <option></option>
                <option>Female</option>
                <option>Male</option>
                <option>Other</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="position" class="form-label">Position</label>
            <select class="form-control" id="position" name="position" [(ngModel)]="addCandidateDetails.position">
                <option></option>
                <option>ISE</option>
                <option>ASE</option>
                <option>SE</option>
                <option>SSE</option>
                <option>TL</option>
                <option>IQA</option>
                <option>QA</option>
            </select>
        </div>
        
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
